<div bsModal #branchModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Branch</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-inverse">
          <thead>
            <tr>
              <th>#</th>
              <th>รหัส</th>
              <th>ชื่อ</th>
              <th>ที่อยู่</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of branchs;let i = index">
              <td>{{i+1}}</td>
              <td>{{item.code}}</td>
              <td>{{item.name}}</td>
              <td>{{item.address}}</td>
              <td>
                <button class="btn btn-primary" (click)="selectBranch(item)">เลือก</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

