<div class="col-12" style="margin-top:2%">
  <div class="container">
    <form [formGroup]='form' (submit)="onSubmit(form.value)">
      <div class="col-12" style="text-align:right ">
        <button class="btn btn-primary" type="submit" [disabled]="form.invalid">บันทึก</button>
        <button class="btn btn-danger" type="button">ปิด</button>
      </div>

      <div formGroupName='toBranch'>
        <div class="form-group row">
          <label class="col-form-label">โอนให้สาขา</label>
          <div class="col-4" [class.has-danger]="form.controls['toBranch'].get('code').invalid && form.controls['toBranch'].get('code').touched">
            <input type="text" class="form-control" formControlName='code'>
          </div>
          <div class="col-2">
            <button class="btn btn-warning" type="button" (click)="openBranchModal()">ค้นหาจากสาขา</button>
          </div>
          <div class="col-2">
            <label class="col-form-label" style="color:blue">ยืนยันได้รับสินค้าโดย</label>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-4 row">
            <label class="col-form-label col-4">- ชื่อ</label>
            <div class="col-8">
              <input type="text" class="form-control" formControlName='name'>
            </div>
          </div>
          <div class="col-4 row">
            <label class="col-form-label col-4">ที่อยู่</label>
            <div class="col-8 row">
              <input class="form-control" formControlName='address'>
            </div>
          </div>
          <div class="col-4 row">
            <label class="col-form-label col-4">เบอร์โทร</label>
            <div class="col-8 row">
              <input type="text" class="form-control" formControlName='tel'>
            </div>
          </div>
        </div>
      </div>

    </form>
    <div class="col-12">
      <button class="btn btn-warning" type="button" (click)="openProdModal()">เพิ่มข้อมูล</button>
    </div>
  </div>

  <div class="col-12" style="margin-top: 2%">
    <table class="table table-inverse">
      <thead>
        <tr>
          <th>ลำดับ</th>
          <th>รหัส</th>
          <th>รายการ</th>
          <th>หน่วย</th>
          <th>จำนวน</th>
          <th>ราคา/หน่วย</th>
          <th>จำนวนเงิน</th>
          <th>S/N</th>
          <th>CN</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of vehicleList ; let i = index">
          <td>{{i+1}}</td>
          <td>{{item.product.code}}</td>
          <td>{{item.product.name}}</td>
          <td>{{item.product.unit}}</td>
          <td>{{item.snList.length}}</td>
          <td>{{item.price}}</td>
          <td>{{item.snList.length * item.price}}</td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<app-modal-product (addVehicle)="addVehicle($event)"></app-modal-product>
<app-modal-branch (selectedBranch)='setBranch($event)'></app-modal-branch>