.div-content {
    background-color: grey;
    min-height: 20vh;
    border-radius: 20px;
}

.content-center{
    color: white;
    font-weight: bold;
    text-align: center;
}

.selectedRow{
    color: black;
    background-color: white;
}