<div bsModal #prodSearchModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Product Search</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col-12 row">
          <div class="col-5 div-content">
            <h3 class="content-center">
              กลุ่ม/ประเภทสินค้า
            </h3>
            <table class="table table-inverse">
              <thead>
                <tr>
                  <th>ลำดับ</th>
                  <th>รายการ</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>BL Benelli</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-1"></div>
          <div class="col-6 div-content">
            <h3 class="content-center">
              รายการสินค้า
            </h3>
            <table class="table table-inverse">
              <thead>
                <tr>
                  <th>ลำดับ</th>
                  <th>รายการ</th>
                  <th>หน่วย</th>
                  <th>S/N</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of prodList;let i = index" (click)="selectProd(item)" (dblclick)="getProd(item)" [class.selectedRow]='item.code == selectedRow'>
                  <td>{{i+1}}</td>
                  <td>{{item.code}}</td>
                  <td>{{item.unit}}</td>
                  <td>S/N</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>