<div bsModal #serialModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Serail Number</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]='form' (submit)="onSubmit(form.value)">
          <table class="table table-inverse">
            <thead>
              <tr>
                <th>ลำดับ</th>
                <th>หมายเลขเครื่อง</th>
                <th>หมายเลขตัวถัง</th>
                <th><button type="button" class="btn btn-warning" (click)="showColorModal()">สี</button></th>
                <th>เลขทะเบียน</th>
                <th>เลขกุญแจ</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ editIndex != null ? editIndex+1 : serialList.length + 1}}</td>
                <td>
                  <input type="text" class="form-control" formControlName='engineNumber'>
                </td>
                <td>
                  <input type="text" class="form-control" formControlName='bodyNumber'>
                </td>
                <td>{{form.controls['color'].value?.name}}</td>
                <td>
                  <input type="text" class="form-control" formControlName='regNumber'>
                </td>
                <td>
                  <input type="text" class="form-control" formControlName='keyNumber'>
                </td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td>
                  <button type="submit" class="btn btn-primary">เพิ่ม/แก้ไข</button>
                </td>
                <td>  
                </td>
                <td><button type="button" class="btn btn-danger" (click)="removeAll()">ลบทั้งหมด</button></td>
                <td></td>
                <td></td>
              </tr>
              <tr *ngFor="let item of serialList ; let i = index" (dblclick)="prepareEdit(item,i)">
                <td>{{i+1}}</td>
                <td>{{item.engineNumber}}</td>
                <td>{{item.bodyNumber}}</td>
                <td>{{item.color.name}}</td>
                <td>{{item.regNumber}}</td>
                <td>{{item.keyNumber}}</td>
                <td>
                  <button type="button" class="btn btn-danger" (click)="removeItem(i)">ลบ</button>
                </td>
              </tr>
            </tbody>
          </table>
        </form>
        <div style="text-align: right">
          <button type="button" class="btn btn-primary" (click)="add()">บันทึก</button>
          <button type="button" class="btn btn-danger" (click)='hide()'>ยกเลิก</button>
        </div>
      </div>
    </div>
  </div>
</div>
<app-modal-color (selectedColor)="setColor($event)"></app-modal-color>