<div bsModal #prodModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Product</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]='form' (submit)="onSubmit(form.value)">
          <table class="table table-inverse">
            <thead>
              <tr>
                <th>รหัสสินค้า</th>
                <th></th>
                <th>รายการ</th>
                <th>หน่วย</th>
                <th>จำนวน</th>
                <th>ราคา</th>
                <th>รวมเงิน</th>
                <th>S/N</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{form.get('product').value?.code}}</td>
                <td>
                  <button class="btn btn-warning" type="button" (click)="showModalProductSearch()">ค้นหา</button>
                </td>
                <td>
                  {{form.get('product').value?.name}}
                </td>
                <td>{{form.get('product').value?.unit}}</td>
                <td>{{form.get('snList').value?.length}}</td>
                <td width='100px'>
                  <input type="text" class="form-control" formControlName='price'>
                </td>
                <td>{{form.get('snList').value?.length * form.get('price').value}}</td>
                <td>
                  <button class="btn btn-info" type="button" (click)="showSerialModal()">S/N</button>
                </td>
              </tr>
            </tbody>
          </table>
          <div style="text-align: right">
            <button type="submit" class="btn btn-primary" [disabled]="form.invalid">บันทึก</button>
            <button type="button" class="btn btn-danger" (click)="hide()">ยกเลิก</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<app-modal-product-search (selectedProd)='setProd($event)'></app-modal-product-search>
<app-modal-serial (addSerialList)='setSerialList($event)'></app-modal-serial>