<div bsModal #colorModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Color</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-inverse">
          <thead>
            <tr>
              <th>ลำดับ</th>
              <th>รหัส</th>
              <th>ชื่อ</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of colorList ; let i = index" (click)="selectColor(item)" (dblclick)="getColor(item)" [class.selected-row]='item.code == selectedRow'>
              <td>{{i+1}}</td>
              <td>{{item.code}}</td>
              <td>{{item.name}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>